{% extends 'base.html' %}

{% load static %}
{% block content %}



<!--================ Start Login Box Area =================-->

<section class="login_box_area section_gap col-lg-12" style="height: 60vh;">
    <div  class="login_box_area section_gap d-flex align-items-center justify-content-center" >
        <div class="row">
           
            
            <div class="col-lg-12">
                
                <div class="login_form_inner">
                    <br/>
            <br/>
            <br/>        
            {% for message in messages %}
            <div class="alert alert-warning col-8 shadow mx-auto text-danger" role="alert">
              {{message}}
            </div>
            {% endfor %}
            <br>

                    <h3>Reset Your password</h3>
                    <form class="row login_form" action="{% url 'resetpassword'%}" method="post" id="form"  >
                        {% csrf_token %}
                        {% comment %} {%include 'includes/alert.html'%} {% endcomment %}


                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="password"  name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="confirmpassword"  name="confirm_password" placeholder="Confirm Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'">
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">RESET</button>
                        </div>

                    
                    
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    const form = document.getElementById('form');
    const passwordInput = document.getElementById('password');
    const confirmPasswordInput = document.getElementById('confirmpassword');
    
    form.addEventListener('submit', function(event) {
      event.preventDefault(); // Prevent the form from submitting
    
      // Validate password field
      if (passwordInput.value.length < 4) {
        alert('Password must be at least 4 characters long.');
        return;
      }
    
      // Validate confirm password field
      if (confirmPasswordInput.value.length < 4) {
        alert('Confirm Password must be at least 4 characters long.');
        return;
      }
    
      // Check if password and confirm password fields match
      if (passwordInput.value !== confirmPasswordInput.value) {
        alert('Passwords do not match.');
        return;
      }
    
      // If validation passes, submit the form
      form.submit();
    });
    
  </script>


{% endblock %}